.horizontal-list{
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
}
.horizontal-list li{
	margin: 5px 20px;
}

.horizontal-item a{
	text-decoration: none;
	color: white;
}
.horizontal-item{
		padding: 15px;
}
.horizontal-item:first-child{
	margin-right: auto;
	padding: 5px;
	
}
.horizontal-item:nth-child(3) input{
	background-color: rgb(18, 26, 60);
	border-color: transparent;
	width: 280px;
	color: white;
}
.logo-side{
	color: white;
	font-weight: bold;
	font-family: monospace;
	font-size: 20px;
	margin-top: -42px;
	margin-left: 75px;

}
.container{
	width: 95%;
}
.main-container{
	display: flex;
	margin: 40px 100px 5px 130px;
}
.left-side{
	width: 60%;
}
.img-pos{
	height: 15rem;
	width: auto;
	margin-left: 30%;
	margin-top: 90px;
}
.latest-release{
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
	margin: 10px 0px;
}
.image{
	position: relative;
	margin-right: 10px;
}

.image-station{
	position: relative;
	margin-right: 10px;
	transition: transform 0.5s;
}

.image-station:hover{
	transform: scale(1.2);
}

.image-img{
	display: block;
	width: 100%;
	
}
.image-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
}
.image-overlay-circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100vmax;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
}
.image-overlay-circle:hover{
	opacity: 1;
}
.image-overlay:hover {
	opacity: 1;
}
.song-name{
	margin-left: 20px;
}
.three-dots{
	margin-left: 90px;
}
.latest-release-v{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.stations{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	height: 7rem;
	width: 100%;
	background-color: rgb(16, 23, 63);

}

.image-overlay-circle-station{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100vmax;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-overlay-rectangle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}



.image-img-rectangle{
	
	height: 10rem;
	width: 100%;
	transition: transform 0.5s;

}

.image-img-rectangle:hover{
	transform: scale(1.3);
}
/*tried adding the zooming image inside its container thing but didn't work*/

.right-side{
	width: 40%;
	float: right;
	margin-top: 20px;
	margin-right: 80px;
	margin-left: 40px;
	height: 60vh;
	width: 25vw;

	display: flex;
	flex-direction: column;
	overflow-y: scroll;

}

.latest-release-two{
	display: flex;
	flex-direction: row;

	margin: 5px 0px;
	margin-left: 40px;
}
.spacing{
	margin-left: 10px;
	margin-top: -20px;
}
.heart{
	color: rgb(138, 153, 165);
	margin-left: 150px;
	display: flex;
	align-items: center;
}
header{
	background-color: rgb(14, 16, 36);
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 2;
}


body{
	background-color: rgb(13, 16, 37);
}



/* the dropdown for latest release starts here */

.dropdown{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #FFF;

}



input[type=checkbox]{
    display: none;
}

/* Click to expand button */

label{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    
}



.dropdown ul{
    position: absolute;
    list-style: none;
    width: 120px;
    z-index: 1;
    margin:0;
    padding:0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: none;
}

.dropdown ul li{
    padding: 7px;
    background-color: #fff;
    color: rgb(138, 134, 165);
    cursor: pointer;
}

.dropdown ul li:hover{
    background-color: #4FB9A7;
    color: #FFF;
}

.dropdown ul li a{
    color: inherit;
    text-decoration: none;
}

input[type=checkbox]:checked ~ ul {
    display: block;
}




#slider {
	overflow: hidden;
	
}
#slider figure {
	
	position: relative;
	width: 500%;
	margin: 0;
	margin-top: 100px;
	left: 0;
	animation: 18s slider infinite;
}
#slider figure img {
	width: 20%;
	height: 400px;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}



#target-content{
	position: fixed;
	height: 55px;
	width: 100%;
	bottom: 0;
	margin-top: 10px;
	background-color: rgb(40, 40, 40);
	opacity: 0;
	transition: opacity 0.5s;
	
}
#target-content:target{
	opacity: 1;
}
 #target-inner{
 	color: white;
 	position: absolute;
 	left: 40%;
 }

 #target-inner i{
 	margin: 10px 20px;
 }
.range-slider{
	position: absolute;
	left: 33%;
	margin-top: 10px;

}
.range-slider input{
	margin-top: 23px;
	width: 400px;

}

.range-slider::after{
	content: '4:44';
	color: white;
	
}

.range-slider::before{
	content: '0:00';
	color: white;
}
#button{
	color: white;
}

.target-img{
	margin: 5px;
	margin-left: 50px;
	margin-top: 10px;
	display: flex;
}

.text-dec{
	color: white;
	padding: 2px;
	margin-left: 6px;
	margin-top: -5px;
}

.heart-two{
	color: rgb(138, 153, 165);
	margin-left: 15px;
	padding: 5px;

}

span, p, div, h1{
	font-family: 'Oswald', sans-serif;
}

aside h1{
	margin-left: 30px;
}

@media screen and (max-width: 1122px)
{
	aside{
		opacity: 0;
	}
		.three-dots{
		opacity: 0;
	}

}

@media screen and (max-width: 768px)
{
	.stations{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 700px;
		width: 100px;
		background-color: rgb(16, 23, 63);
		margin-bottom: 40px;
		justify-content:space-between ;
	}

	.latest-release{
		margin-bottom: 20px;
		flex-direction: column;
	}

}